
@{
    Layout = null;
}


<div class="contaşner">
    <br />
    <br />
    <div class="alert alert-success"><h2> Yeni Kullanıcı Kaydı</h2></div>

    <form method="post">
        <label>Adınız</label>
        <input type="text" class="form-control"/>
        <label>Soyadınız</label>
        <input type="text" class="form-control"/>
        <label>Kullanıcı Adınız</label>
        <input type="text" class="form-control"/>
        <label>Email Adresiniz</label>
        <input type="text" class="form-control"/>
        <label>Şifreniz</label>
        <input type="text" class="form-control"/>


    </form>


</div>