@model Article

<div style="border:2px dashed gray; padding:10px;">
	<h2>Eklenen Son Blok </h2>
	<img src="@Model.ImageUrl" style="width:250px; height:100px" />
	<br />
	<h1>@Model.Title</h1>
	<a href="#" class="btn btn-warning">Bu Makeleyi Okuyun</a>
</div>
